@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300&family=Montserrat:ital@0;1&family=Ubuntu:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  font-size: inherit;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  direction: ltr;
  font-family: "Ubuntu", sans-serif;
  background-color: unset;
}

html {
  font-size: 100%;
}

.intro {
  opacity: 0;
}

/* LYOUT */
.container {
  box-shadow: 0px 0px 14px 2px #005aea25;
  width: 95%;
  margin: 0 auto;
  height: 95%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container>div {
  width: 100;
  height: 100%;
  display: flex;
  position: relative;
  
}

.container div .form {
  background-color: #005bea;
  width: 90%;
  height: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 20px;
}

/* LYOUT */

/* CONTENT */
form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.input-box {
  position: relative;
  background-color: white;
  border-radius: 40px;
  padding: 7px 10px 7px 30px;
  font-size: 13px;
  max-width: 300px;
}

.input-box input {
  width: 100%;
  font-size: inherit;
}

.input-box i {
  position: absolute;
  left: 9px;
  color: #005aea8a;
  font-size: 17px;
  top: 50%;
  transform: translateY(-50%);
}

.box-password-strength {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: white;
  margin-top: 20px;
  font-size: 11px;
  align-items: center;
  width: 100%;
}

.progress-bar {
  max-width: 200px;
  min-width: 200px;
  height: 5px;
  background-color: #D7D154;
  border-radius: 40px;
  position: relative;
  overflow: hidden;
}

.progress-bar div {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #0048AE;
  left: -30%;
}

.form h1 {
  color: white;
  font-size: 45px;
  font-weight: bold;
  padding-bottom: 30px;
  text-align: center;
}

.btns {
  margin-top: 40px;
  display: flex;
  gap: 3px;
}

.btn {
  border: 3px solid white;
  border-radius: 40px;
  font-size: 13px;
  padding: 6px 20px;
  font-weight: bold;
  color: white;
}

.btn.gold {
  background: linear-gradient(90deg,
      rgba(255, 194, 0, 1) 16%,
      rgba(224, 123, 13, 1) 96%);
  border: unset;
  color: black;
}

.btn:hover {
  background-color: rgba(255, 255, 255, 0.13);
}

.btn.gold:hover {
  background: rgb(224, 123, 13);
  background: linear-gradient(90deg,
      rgba(224, 123, 13, 1) 20%,
      rgba(255, 194, 0, 1) 73%);
}

.content {
  width: 100%;
  display: flex;
  background-color: white;
  z-index: 10;
}